{% extends 'base.html.twig' %}

{% block title %}Table Proveedor{% endblock %}

{% block body %}
{#Script to validate if we want to delete a proveedor#}
    <script type="text/javascript">

        function ConfirmDelete()
        {
            var respuesta = confirm("Estas seguro de eliminar este proveedor?");
            return respuesta === true;
        }

    </script>

    <div class="dropdown-divider"></div>

    <div class="card-body">



        <a class="btn btn-primary" href="{{ path('new')}}">Insert New</a>
            <div class="card-body table-responsive">
                <table class="table table-striped" id="mydatatable" style="justify-content: center">
                    <thead class="table-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </thead>
                    <tbody>
                    {% for proveedor in findAll%}
                        <tr>
                            <th scope="row">{{ proveedor.id }}</th>
                            <td>{{ proveedor.Nombre }}</td>
                            <td>{{ proveedor.correo }}</td>
                            <td>{{ proveedor.telefono }}</td>
                            <td>{{ proveedor.tipo }}</td>
                            <td>{% if proveedor.activo == 1 %}
                                    Actiu
                                    {% else %}
                                    Inactiu
                                {% endif %}
                            </td>
                            <td><a class="btn btn-success" href="{{ path('modify', {'id':proveedor.id}) }}">Update</a></td>
                            <td><a class="btn btn-danger boxed-action" href="{{ path('remove', {'id':proveedor.id}) }}" onclick="return ConfirmDelete()">Delete</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
    </div>
    <div class="dropdown-divider"></div>


{% endblock %}
