{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}

    <div  style="display: flex;justify-content: center;margin-top: 70px;">

        <div class="card">

            <div class="card-body">
                <form method="post">

                        <h1 class="h3 mb-3 font-weight-normal">{{ controller_name }}</h1>
                        <h3>
                            {% if alert != null%}
                                {{ alert }}
                            {% endif %}
                        </h3>
                        <label for="inputEmail">Email</label>
                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                    <br>
                    {{ form_row(form.password.first,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(form.password.second,{'attr':{'class':'form-control'}}) }}
                    {{ form_row(form._token) }}
                    {{ form_widget(form.Enviar,{'attr':{'class':'btn btn-primary'}}) }}

                </form>
            </div>
        </div>
    </div>


{% endblock %}
